*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.img {
  object-fit: cover;
}

.food-type {
  opacity: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Poppins", ui-sans-serif, system-ui, "-apple-system", sans-serif;
}

.h1 {
  font-size: 20px;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: #353535;
}

.grey-icon {
  color: #7e7e7e;
}

.loader-inner {
  font-family: "Shrikhand", "sans-serif";
  font-size: 48px;
  font-weight: bold;
}

.location {
  font-size: 14px;
  font-weight: bold;
  color: #626262;
}
@media screen and (min-width: 768px) {
  .location {
    font-size: 20px;
    font-weight: 600;
  }
}

.title {
  text-align: center;
}
.title-text {
  font-size: 18px;
  font-weight: 300;
  color: #626262;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
  }
  .title-main {
    font-size: 32px;
    font-weight: 600;
  }
  .title-text {
    font-size: 20px;
  }
}

.nav-link:hover .nav-icon {
  color: #9356dc;
}
.nav-title {
  font-size: 22px;
}
.nav-text {
  font-size: 16px;
}
.nav-link-mark {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .nav-link {
    font-size: 16px;
  }
  .nav-link-mark {
    font-size: 14px;
  }
}

.restaus-title {
  font-size: 22px;
}

.restau-new {
  color: #008766;
  font-size: 10px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .restau-new {
    font-size: 14px;
  }
}

.footer-text {
  font-size: 14px;
}
.footer-icon {
  font-size: 12px;
}
.footer, .footer-link {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .footer, .footer-link {
    font-size: 17px;
  }
}

.button, .button-link {
  color: #fff;
  font-size: 18px;
}

.restau-heart {
  font-size: 25px;
}
.restau-heart-full {
  color: transparent;
}

.menu-name {
  font-family: "Shrikhand", "sans-serif";
}
@media screen and (min-width: 768px) {
  .menu-name {
    font-size: 30px;
  }
}

.food-title-h2 {
  font-weight: 350;
  padding-bottom: 5px;
}

.recipe-price {
  font-weight: bold;
}
.recipe-name {
  font-size: 18px;
  font-weight: 600;
}
.recipe-text {
  font-size: 15px;
  font-weight: 350;
}
.recipe-text, .recipe-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.recipe-anim {
  color: #fff;
}
.recipe-anim .icon {
  font-size: 25px;
  font-weight: bolder;
  color: #fff;
}

.button {
  padding: 0 1.5em;
  height: 60px;
  min-width: 50%;
  border-radius: 30px;
  background: linear-gradient(0.48turn, #ff79da, #9356dc);
  box-shadow: 0 8px 16px 0px #d0d0d0;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: none;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 8px 16px 0px #909090;
  background: linear-gradient(0.48turn, #ff93e1, #a16be0);
}
@media screen and (min-width: 768px) {
  .button {
    width: fit-content;
    min-width: 300px;
  }
}

.restau {
  position: relative;
}
.restau-link {
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0px #d0d0d0;
}
.restau-img {
  width: 100%;
  height: 180px;
  border-radius: 25px 25px 0 0;
}
.restau-new {
  padding: 5px 12px;
  background-color: #99e2d0;
  position: absolute;
  width: fit-content;
  top: 15px;
  right: 15px;
}
.restau-body {
  padding: 20px 25px 20px 14px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restau {
    width: 47.5%;
  }
}
@media screen and (min-width: 992px) {
  .restau {
    width: 25%;
  }
}

.restau-heart {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.restau-heart-empty {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.restau-heart-full {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all 0.8s ease-in;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}
.restau-heart:hover .restau-heart-full {
  transform: translate(-50%, -50%) scale(1);
}
.restau-heart:hover .restau-heart-empty {
  opacity: 0;
  transform: translate(-50%, -50%);
}

.loader {
  background-color: #f7f7f7;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  transform: translateY(-100vh);
  animation: vanish 3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader-inner {
  position: relative;
  margin: 0 auto;
  top: 0;
  width: 75vh;
  height: 75vh;
  overflow: hidden;
}
.loader-area {
  position: absolute;
  bottom: 0;
  right: 25vw;
  width: 50%;
  height: 50%;
  background-color: transparent;
  transform-origin: 15% 60%;
  animation: flip 2.1s ease-in-out infinite;
}
@media screen and (min-width: 768px) {
  .loader-area {
    right: 15vw;
  }
}
@media screen and (min-width: 992px) {
  .loader-area {
    right: 0;
  }
}
.loader-sides {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 15% 60%;
  animation: switch-side 2.1s ease-in-out infinite;
}
.loader-sides-handle {
  position: absolute;
  bottom: 18%;
  right: 80%;
  width: 35%;
  height: 20%;
  background-color: transparent;
  border-top: 1vh solid #333;
  border-left: 1vh solid transparent;
  border-radius: 100%;
  transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
.loader-sides-pan {
  position: absolute;
  bottom: 20%;
  right: 30%;
  width: 50%;
  height: 8%;
  background-color: #333;
  border-radius: 0 0 1.4em 1.4em;
  transform-origin: -15% 0;
}
.loader-pancake {
  position: absolute;
  top: 24%;
  width: 100%;
  height: 100%;
  transform: rotateX(85deg);
  animation: jump 2.1s ease-in-out infinite;
}
.loader-pancake-pastry {
  position: absolute;
  bottom: 26%;
  right: 37%;
  width: 40%;
  height: 45%;
  background-color: #333;
  box-shadow: 0 0 3px 0 #333;
  border-radius: 100%;
  transform-origin: -20% 0;
  animation: fly 2.1s ease-in-out infinite;
}
.loader-bubble {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 0.25vh #4d4d4d;
  opacity: 0;
}
.loader-bubble-1 {
  margin-top: 2.5vh;
  left: 58%;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #454545;
  animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}
.loader-bubble-2 {
  margin-top: 3vh;
  left: 52%;
  width: 2vh;
  height: 2vh;
  background-color: #3d3d3d;
  animation: bubble 2s ease-in-out 0.35s infinite;
}
.loader-bubble-3 {
  margin-top: 1.8vh;
  left: 50%;
  width: 1.5vh;
  height: 1.5vh;
  background-color: #333;
  animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
.loader-bubble-4 {
  margin-top: 2.7vh;
  left: 56%;
  width: 1.2vh;
  height: 1.2vh;
  background-color: #2b2b2b;
  animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}
.loader-bubble-5 {
  margin-top: 2.7vh;
  left: 63%;
  width: 1.1vh;
  height: 1.1vh;
  background-color: #242424;
  animation: bubble 1.6s ease-in-out 1s infinite;
}
.loader-text {
  width: 75%;
  text-align: center;
  font-size: 4vh;
  color: #222;
  opacity: 0.75;
  animation: pulse 1.5s linear infinite;
  font-size: 18px;
}

.header {
  padding: 22px 0 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-logo {
  width: 169px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 350px;
  }
}

.home-link {
  position: absolute;
  left: 35px;
}
.home-link:hover {
  color: #9356dc;
}

.location {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: linear-gradient(0turn, #eaeaea 95%, #c9c9c9);
}
@media screen and (min-width: 768px) {
  .location {
    height: 75px;
    color: #353535;
  }
}

.banner {
  display: contents;
}
.banner-img {
  width: 100%;
  height: 260px;
}
@media screen and (min-width: 768px) {
  .banner-img {
    height: 320px;
    object-fit: cover;
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 42px 0 110px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .title {
    padding: 50px 0 75px;
    gap: 20px;
  }
  .title br {
    display: none;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: stretch;
  margin: 64px 25px;
}
.nav-ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  list-style-type: none;
}
.nav-link {
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 5em;
  cursor: pointer;
}
.nav-link-div {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px 0 38px;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  border-radius: 25px;
  box-shadow: 0 4px 12px 0px #dedede;
  position: relative;
  right: 14px;
}
.nav-link-div:hover {
  background-color: #f2eafb;
  box-shadow: 0 4px 12px 0px #b7b7b7;
}
.nav-link-mark {
  width: 28px;
  height: 26px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  border-radius: 50%;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .nav {
    margin: 40px 20px 64px;
  }
  .nav-title {
    align-self: center;
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .nav-ol {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 25px;
    padding-right: 25px;
  }
  .nav-link {
    width: 33%;
    height: 5em;
  }
}

.restaus {
  background-color: #f7f7f7;
  padding: 64px 25px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;
  align-items: stretch;
}
.restaus-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: flex-start;
  align-items: stretch;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaus-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .restaus-title {
    align-self: center;
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .restaus {
    padding-left: 50px;
    padding-right: 50px;
  }
  .restaus-cards {
    flex-direction: row;
    padding: 30px 0;
  }
  .restaus-title {
    align-self: center;
    font-size: 26px;
  }
}

.menu {
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 40px;
  z-index: 2;
  padding: 45px 25px 5px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #f7f7f7;
}
.menu-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menu {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 992px) {
  .menu {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.food {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-start;
  align-items: stretch;
}
.food-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: flex-start;
}
.food-type {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .food {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
  }
}

.green-line {
  width: 42px;
  height: 3px;
  background-color: #99e2d0;
}

.recipe {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 #c8c8c8;
  cursor: pointer;
  overflow: hidden;
  padding: 15px 14px;
}
.recipe-price {
  position: absolute;
  right: 24px;
  bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.recipe-text, .recipe-name {
  width: 80%;
}
.recipe-text {
  width: 75%;
  margin-top: 5px;
}
.recipe-anim {
  position: absolute;
  right: -55px;
  top: 0px;
  width: 55px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0 20px 20px 0;
  transition: transform 0.3s ease-in-out;
}
.recipe-anim .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-360deg);
  transition: transform 0.5s ease-in-out;
}
.recipe:hover .recipe-anim .icon {
  transform: translate(-50%, -50%) rotate(0deg);
}
.recipe:hover .recipe-anim, .recipe:hover .recipe-price {
  transform: translate(-55px);
}
.recipe:hover .recipe-name, .recipe:hover .recipe-text {
  width: calc(100% - 110px);
}

.main-menu {
  background-color: #f7f7f7;
}

.foot-type-1 {
  animation: come-in 0.4s ease-in forwards 0.4s;
}

.foot-type-2 {
  animation: come-in 0.4s ease-in forwards 0.8s;
}

.foot-type-3 {
  animation: come-in 0.4s ease-in forwards 1.2s;
}

@keyframes come-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}
@keyframes anim-letter {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes vanish {
  from {
    transform: translateY(0vh);
  }
  80% {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-105vh);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
  50% {
    transform: scale(1.075, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0.25;
  }
}
@keyframes flip {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-27deg);
  }
  30%, 50% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(27deg);
  }
  83.3% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes switch-side {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes jump {
  0% {
    top: 24;
    transform: rotateX(85deg);
  }
  25% {
    top: 10%;
    transform: rotateX(0deg);
  }
  50% {
    top: 30%;
    transform: rotateX(85deg);
  }
  75% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(85deg);
  }
}
@keyframes fly {
  0% {
    bottom: 26%;
    transform: rotate(0deg);
  }
  10% {
    bottom: 40%;
  }
  50% {
    bottom: 26%;
    transform: rotate(-190deg);
  }
  80% {
    bottom: 40%;
  }
  100% {
    bottom: 26%;
    transform: rotate(0deg);
  }
}
@keyframes bubble {
  0% {
    transform: scale(0.15, 0.15);
    top: 80%;
    opacity: 0;
  }
  50% {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.33, 0.33);
    top: 60%;
    opacity: 0;
  }
}
.footer {
  background-color: #353535;
  padding: 2em 25px 3em;
}
.footer-text {
  list-style-type: none;
  padding-left: 0;
}
.footer-logo {
  height: 20px;
  margin-bottom: 16px;
}
.footer-entry {
  padding-left: 0;
  margin-bottom: 6px;
}
.footer-icon {
  margin-right: 12px;
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding: 2em 25px 3em;
  }
  .footer-logo {
    height: 24px;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    padding: 2em 50px 3em;
  }
  .footer-logo {
    height: 28px;
  }
}
