.footer {
  background-color: adjust-gray($ad: -194);
  padding: 2em $mobile-margin 3em;

  &-text {
    list-style-type: none;
    padding-left: 0; 
  }

  &-logo {
    height: 20px;
    margin-bottom: 16px;
  }
  
  &-entry {
    padding-left: 0;
    margin-bottom: 6px;
  }

  &-icon {
    margin-right: 12px;
    width: 12px;
    height: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 2em $tablet-margin 3em;  
    
    &-logo {
      height: 24px;
    }
  }

  @media screen and (min-width: 992px) {
    padding: 2em $desktop-margin 3em;  
    
    &-logo {
      height: 28px;
    }
  }
}
