.header {
  padding: 22px 0 15px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media screen and (min-width: 768px) {
      padding: 32px 0;
    }

  &-logo {
    width: 45%;

  @media screen and (min-width: 768px) {
      width: 30%;
    }
  }
}

.home-link {
  position: absolute;
  left: 30px;
}
