.location {
  @include flex-disp(row, center, center, 20px);
  background-color: $color-light-gray;
  height: 50px;
  font-size: 14px;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    height: 75px;
    font-size: 20px;
    font-weight: 600;
    color: $color-black;
    background-color: lighten($color-light-gray, 7%);
  }
}
