.location {
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: $color-light-gray;
  align-items: center;
  height: 50px;
  font-size: 14px;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    height: 100px;
    font-size: 20px;
    color: $color-black;
  }
}
