.title {
  @include flex-disp(column, center, center, 20px);
  margin: 42px auto 110px;

  @media screen and (min-width: 768px) {
    margin: 50px auto 75px;
    gap: 20px;

    br {
      display: none;
    }
  }
}
