.title {
  @include flex-disp(column, center, center, 20px);
  margin: 42px auto 110px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;

    br {
      display: none;
    }
  }

  &-btn {
    margin-top: 10px;

    &-link {
      color: $color-white;
    }
  }
}
