.nav {
  @include column-flex(30px);
  margin: 64px 20px;
  cursor: pointer;

  &-ol {
    @include column-flex(22px);
    list-style-type: none;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &-link {
    display: flex;
    gap: 0px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 5em;
    @media screen and (min-width: 768px) {
        width: 33%;
      }

    &-div {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 38px;
      gap: 24px;
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      border-radius: 25px;
      box-shadow: 0 4px 8px 0px $color-light-gray;
      position: relative;
      right: 14px;

      &:hover {
        background-color: lighten($color-primary, 36%);
        box-shadow: 0 4px 8px 0px darken($color-light-gray, 10%);

        &>.nav-icon {
          color: $color-primary;
        }
      }
    }

    &-mark {
      width: 28px;
      height: 26px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;
      border-radius: 50%;
      color: $color-white;
      z-index: 10;
    }
  }
}
