.button {
  padding: 0 1em;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient($color-secondary, $color-primary);
  box-shadow: 0 4px 8px 0px $color-light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  color: $color-white;
  border: none;
  // width: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 8px 0px darken($color-light-gray, 10%);
  }
}
