.restau-heart {
  position: relative;
  @include dimensions(40px);
  cursor: pointer;

  &-empty {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
  }

  &-full {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: all 0.8s ease-in;
    background: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
  }

  &:hover {
    .restau-heart-full {
      transform: translate(-50%, -50%) scale(1);
    }
    .restau-heart-empty {
      opacity: 0;
      transform: translate(-50%, -50%);
    }
  }
}
