*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.link{
  text-decoration: none;
  color: adjust-gray(-194);
}

.grey-icon {
  color: adjust-gray(-121);
}

.img {
  object-fit: cover;
}

.restaurant-loader {
  display: none;
}

.food-type {
  opacity: 0;
}
