*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.link{
  text-decoration: none;
  color: $color-black;
}

.grey-icon {
  color: #7e7e7e
}

.img {
  object-fit: cover;
}

.restaurant-loader {
  display: none;
}

.fa-lg {
  font-size: 18px;
}
