body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.h1 {
  font-size: 20px;
}

.h2 {
  font-size: 18px
}

.footer-text {
  font-size: 14px;
}

// .h1 {
//     font-family: 'Shrikhand', sans-serif;
// }
