// General typos
body {
  @include font-primary;
}

.h1 {
  font-size: 20px;
}

.h2 {
  font-size: 18px;
}

.h3 {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: adjust-gray(-194);
}

.grey-icon {
  color: adjust-gray(-121);
}

// Layout

// Loader
.loader {
  &-text {
    text-align: center;
    font-size: 3vh;
    color: #222;
  }
}
// Location
.location {
  font-size: 14px;
  font-weight: bold;
  color: adjust-gray($ad: -149);

  @media screen and (min-width: 768px) {
    font-size: 20px;
    font-weight: 600;
  }
}

// Main title
.title {
  text-align: center;
  &-text {
    font-size: 18px;
    font-weight: 300;
    color: adjust-gray($ad: -149);
  }

  @media screen and (min-width: 768px) {
    font-size: 24px;

    &-main {
      font-size: 32px;
      font-weight: 600;
    }

    &-text {
      font-size: 20px;
    }
  }
}

// Navigation
.nav {
  &-link:hover &-icon {
    color: $color-primary;
  }

  &-title {
    font-size: 22px;
  }

  &-text {
    font-size: 16px;
  }

  &-link-mark {
    color: $color-white;
  }

  @media screen and (min-width: 768px) {
    &-link {
      font-size: 16px;
      &-mark {
        font-size: 14px;
      }
    }
  }
}

// Restaurants
.restaus {
  &-title {
    font-size: 22px;
  }
}

.restau {
  &-new {
    color: #008766;
    font-size: 10px;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    &-new {
      font-size: 14px;
    }
  }
}

// Footer
.footer {
  &-text {
    font-size: 14px;
  }

  &-icon {
    font-size: 12px;
  }

  &,
  &-link {
    color: $color-white;

    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }
}

// Components

//  Buttons
.button {
  &,
  &-link {
    color: $color-white;
    font-size: 18px;
  }
}

.restau-heart {
  font-size: 25px;

  &-full {
    color: transparent;
  }
}

// Pages

.menu {
  &-name {
    @include font-secondary;
    font-size: 28px;
    font-weight: 600;
    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }
}

.food {
  &-title-h2 {
    font-weight: 350;
    padding-bottom: 5px;
  }
}

.recipe {
  &-price {
    font-weight: bold;
  }
  &-name {
    font-size: 18px;
    font-weight: 600;
  }
  &-text {
    font-size: 15px;
    font-weight: 350;
  }

  &-text,
  &-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-anim {
    color: $color-white;

    & .icon {
      font-size: 25px;
      font-weight: bolder;
      color: $color-white;
    }
  }
}
