// General typos
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

.h1 {
  font-size: 20px;
}

.h2 {
  font-size: 18px
}

/*
* Layout
*/

// Location
.location {
  font-size: 14px;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    font-weight: 600;
  }
}

// Main title
.title {
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;

    &-main {
      font-size: 32px;
      font-weight: 600;
    }

    &-text {
      font-size: 20px;
      font-weight: 200;
      color: $color-gray;
    }
  }
}

// Navigation
.nav {
  &:hover .nav-icon {
    color: $color-primary;
  }

  &-link-mark {
    color: $color-white;
  }
  
  @media screen and (min-width: 768px) {
    &-link, &-link-mark {
      font-size: 16px;
    }
  }
}

// Restaurants
.restau {
  &-new {
    color: #1b6150;
    font-size: 10px;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    &-new {
      font-size: 14px;
    }
  }
}

// Footer
.footer {
  &-text {
    font-size: 14px;
  }

  &, &-link {
    color: $color-white;

    @media screen and (min-width: 768px) {
      font-size: 17px;
    }
  }
}

/*
*  Components
*/
//  Buttons
.button {
  &,
  &-link {
    color: $color-white;
    font-size: 20px;
  }
}

