.menus {
  border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 40px;
  background-color: $color-white;
  padding: 45px 15px 5px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #f7f7f7;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }

  &-name {
    font-family: 'Shrikhand', 'Sans Serif';
  }

  &-order {
    width: 50%;
    display: block;
  }
}

.food-title-h2 {
  font-weight: normal;
  padding-bottom: 8px;
}

.green-line {
  width: 40px;
  height: 4px;
  background-color: $color-tertiary;
}

.food-type {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recipe {
  height: 70px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0px darken($color-light-gray, 10%);
  display: flex;
  gap: 22px;

  &-desc {
    margin: 16px 20px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    // width: 80%;
  }

  &-price {
    font-weight: bold;
  }

  &-text, &-name {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-anim {
    width: 3.75em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    color: $color-white;
    border-radius: 0 20px 20px 0;
    // display: none;

    & .icon {
      font-size: 22px;
    }
  }

  &:hover {
    display: flex;
    column-gap: 22px;

    > &-anim {
      display: block;
      transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.5s;
    }

  }

}

.main-menus {
  background-color: #f7f7f7;
}
