
// .loader {
//   height: 100vh;
//   width: 100vw;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #000;
//   transform: translateY(-100vh);
//   animation: vanish 3s;// cubic-bezier(.63,.51,.85,.61);
  // animation-duration: 3s;
// }


// .restaurant-loader {
// $potcolor: $color-tertiary;
// $bordercolor1: $potcolor;

//   width: $spinner-width;
//   height: $spinner-width;
//   position: fixed;
//   padding: 2%;
//   background-color: $bg-color;
//   box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
//   border-radius: 100%;
// .restaurant-loader {
//     width: $spinner-width;
//     height: $spinner-width;
//     background-color: $bg-color;
//     position: absolute;
//     top: 40vh;
//     left: 40vw;
//     // display: contents;

// .loader-inner {
//     width: $spinner-width;
//     height: $spinner-width;
//     animation: restaurant-loader-spin 0.8s linear infinite;
//     box-sizing: border-box;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     display: block;
//     border: 3px solid transparent;
//     border-right-color: $bordercolor1;
//     border-left-color: $bordercolor1;
//     border-radius: 50%;
//     content: '';
//   }

//   &:before,
//   &:after {
//     content: '';
//     display: block;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center center;
//   }

//   &:before {
//     background-image: url(https://i.imgur.com/Nc4xNES.png);
//     height: 35%;
//     animation-duration: 2s;
//     animation-fill-mode: both;
//     animation-iteration-count: infinite;
//     animation-name: restaurant-loader-pot;
//   }

//   &:after {
//     background-image: url(https://i.imgur.com/lNXd2Lr.png);
//     height: 65%;
//   }
// }

@keyframes restaurant-loader-pot {
  from,
  45%,
  55%,
  65%,
  75%,
  80%,
  85%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    transform: rotate(0);
  }
  45% {
    transform: translate3d(-4%, -13%, 0) rotate(-13deg);
  }
  55% {
    transform: translate3d(1%, -2%, 0) rotate(6deg);
  }
  65% {
    transform: translate3d(-2%, -4%, 0) rotate(-3deg);
  }
  75% {
    transform: translate3d(2%, 3%, 0) rotate(3deg);
  }
  80% {
    transform: translate3d(-2%, 1%, 0) rotate(-2deg);
  }
  to {
    transform: none;
  }
}


@keyframes restaurant-loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

// Make recipes come in with a slight delay one after another
@keyframes come-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

// Get the loader out of the screen
@keyframes vanish {
  from {
    transform: translateY(0vh);
  }
  80% {
    transform: translateY(0vh);
  }
  to {
    // opacity: 0;
    // display: none;
    transform: translateY(-105vh);
  }
}
