// Make recipes come in with a slight delay one after another
@keyframes come-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

// Animate logo letters in loader
@keyframes anim-letter {
  from {
    // opacity: 0;
    transform: translateY(25px);
  }
  to {
    // opacity: 1;
    transform: translateY(-5px);
  }
}

// Get the loader out of the screen
@keyframes vanish {
  from {
    transform: translateY(0vh);
  }
  80% {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-105vh);
  }
}
