// Customize flex display
@mixin flex-disp ($direction: row, $justify-content: flex-start, $align-items: stretch, $gap: 0px) {
  display: flex;
  @if ($direction != row){
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
  @if ($gap != 0) {
    gap: $gap;
  }
  justify-content: $justify-content;
  align-items: $align-items;
}

// Make transition
@mixin transit ($prop: transform, $duration: 0.5s, $timing: ease-in-out) {
  transition: $prop $duration $timing;
}

// Center titles "Restaurants" and "Fonctionnement" on tablets and desktops
@mixin center-title {
  align-self: center;
  font-size: 26px;
}

// Add equal left-right padding to element
@mixin equal-padding ($pad: $mobile-margin){  
  padding-left: $pad;
  padding-right: $pad;
}

// Main font family
@mixin font-primary {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'Poppins', ui-sans-serif,
  system-ui, '-apple-system',  sans-serif;
}

// Secondary font
@mixin font-secondary {
  font-family: 'Shrikhand', 'sans-serif';
}

