// Variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #353535;
$color-white: #FFF;
$color-light-gray: #d0d0d0;
$color-gray: #7E7E7E;
$mobile-margin: 25px;
$tablet-margin: 50px;
$desktop-margin: 70px;
$spinner-width: 200px;
