// Variables
$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99e2d0;
$bg-color: #f7f7f7;
$color-white: #FFF;
$mobile-margin: 25px;
$tablet-margin: 25px;
$desktop-margin: 50px;
$spinner-width: 200px;
