// Variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-black: #353535;
$color-white: #FFF;
$color-light-gray: #eaeaea;
$color-gray: #7E7E7E;
$spinner-width: 200px;
